In [1]:
print('x')

x

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r'C:\Users\sk abdul fahad\OneDrive\ml project\Data\cleaneddata\cleaned.csv')

In [4]:
df['default.payment.next.month'].value_counts()

default.payment.next.month
0    23364
1     6636
Name: count, dtype: int64

In [5]:
df[df.duplicated()]

Empty DataFrame
Columns: [ID, LIMIT_BAL, SEX, EDUCATION, MARRIAGE, AGE, PAY_0, PAY_2, PAY_3, PAY_4, PAY_5, PAY_6, BILL_AMT1, BILL_AMT2, BILL_AMT3, BILL_AMT4, BILL_AMT5, BILL_AMT6, PAY_AMT1, PAY_AMT2, PAY_AMT3, PAY_AMT4, PAY_AMT5, PAY_AMT6, default.payment.next.month]
Index: []

[0 rows x 25 columns]

In [7]:
from imblearn.over_sampling import SMOTE

In [8]:
df.drop('ID',axis=1,inplace=True)

In [9]:
x= df.drop('default.payment.next.month',axis=1)
y= df['default.payment.next.month']

In [10]:
x,y =  SMOTE().fit_resample(X=x,y=y)

In [11]:
y.value_counts()

default.payment.next.month
1    23364
0    23364
Name: count, dtype: int64

In [12]:
import os

In [13]:
os.makedirs(r'C:\Users\sk abdul fahad\OneDrive\ml project\Data\preprocessdata',exist_ok=True)

In [15]:
x.to_csv(r'C:\Users\sk abdul fahad\OneDrive\ml project\Data\preprocessdata\x.csv',index=False)

In [16]:
y.to_csv(r'C:\Users\sk abdul fahad\OneDrive\ml project\Data\preprocessdata\y.csv',index=False)